<div class="content">
  <h1><a href="<%= root_path %>">Google-Images-gram</a></h1>
  <a href="<%= new_image_path %>">Upload Image</a>
  <table>
  <tr>
  </tr>
  <% @images.each do |i| %>
    <tr>
      <td><%= image_tag(i.url, class: 'home-image') %></td>
      <td>
      <% i.tag_list.each do |tag| %>
        <%= link_to(tag, images_path(tag: tag), class: 'js-image-tag') %>
      <% end %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
